.key-button {
  padding: 8px;
  height: 50px;
  width: 50px;
}

.button-white {
  background-color: white;
  color: black;
}

.height-50 {
  height: 50px;
}

.height-full {
  height: 100%;
}

.width-50 {
  width: 50px;
}

.width-full {
  width: 100%;
}
