.keyboard-container {
  margin-top: 16px;
}
.container-brackets {
  position: relative;
}

.button-change {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  appearance: none;
  background-color: #cc2626;
  color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
