.App {
  text-align: center;
  background-color: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  padding: 16px;
  border-radius: 10px;
}

.calculator-container-dark {
  background-color: black;
}

.calculator-container-light {
  background-color: white;
}

h6 {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.grid-container {
  display: grid;
  width: 100%;
}
.grid-margins {
  margin-top: 8px;
}
.column-4 {
  grid-template-columns: auto auto auto auto;
}

.column-3 {
  grid-template-columns: auto auto auto;
}

.column-3fr-1fr {
  grid-template-columns: 3fr 1fr;
}

.grid-item {
  text-align: center;
  width: 100%;
}

.grid-item-gap {
  padding-right: 10px;
  padding-left: 0px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-radius-100 {
  border-radius: 100px;
}

.border-rounded {
  border-radius: 50%;
}

.margin-y-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.padding-y-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-top-1 {
  padding-top: 8px;
}
